.header_bar	{	margin-left: 10em;
			margin-right: 10em;
		}
.bar_divider	{	background: linear-gradient(to bottom right, #adc7ff, #4f86ff);
			height: 0.5em;
		}
.top_bar	{	text-align: center;
			font-size: 4em;
			background: linear-gradient(to bottom right, #adc7ff, #4f86ff);
		}

/*
Expanding child div to parent div's height.
Ref: http://stackoverflow.com/questions/4804581/css-expand-float-child-div-height-to-parents-height
Author: Sotiris
Retrieved: Feb 16, 2017
*/
.left_bar	{	text-align: left;
			margin-top: 0.25em;
			margin-bottom: 0.25em;
			/*background: #d1d4d6;*/
			border-right: solid;
			padding-left: 0.5em;
			padding-right: 0.5em;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
.content_container 	{	background: #ffffff;
				margin-left: 10em;
				margin-right: 10em;
				height: auto;
				overflow: hidden;
				position: relative;
			}
.main_content	{	margin-top: 0.25em;
			display: inline-block;
			float: right;
			position: relative;
		}
.header_wrapper	{	display: inline-block;
			float: right;
			position: relative;
			margin-right: 0.5em;
		}
.footer_bar	{	margin-left: 10em;
			margin-right: 10em;
			margin-top: 0.25em;
		}
#header	{	font-size: 2em;
		-webkit-margin-before: 0.25em;
		-webkit-margin-after: 0em;
	}
